*~
.DS_Store
/.idea
/out
/java/.idea/
/java/out/
*.o
/jlibtorrent.xcodeproj/xcuserdata/
/obj
frostwire-jlibtorrent.i*
/test-libtorrent
/.gradle
/swig/bin
/swig/build
/build
/libjlibtorrent.dylib
/libjlibtorrent.so
/jlibtorrent.dll
