*~
.DS_Store
*.ipr
*.iws
.idea
.gradle
/build
/out
/android/build
/android/src/main/jniLibs
/java/out/
*.o
/jlibtorrent.xcodeproj/xcuserdata/
/obj
frostwire-jlibtorrent.i*
/test-libtorrent
/swig/bin
/swig/build
/swig/swig-*
/libjlibtorrent*.dylib
/libjlibtorrent*.so
/jlibtorrent*.dll
/node/jlibtorrent.node
/dht_shell.dat
local.properties