*~
.DS_Store
*.ipr
*.iws
.idea
.gradle
/build
/android/build
/java/out/
*.o
/jlibtorrent.xcodeproj/xcuserdata/
/obj
frostwire-jlibtorrent.i*
/test-libtorrent
/swig/bin
/swig/build

/libjlibtorrent.dylib
/libjlibtorrent.so
/jlibtorrent.dll
/node/jlibtorrent.node
/dht_shell.dat
